<!-- wp:template-part {"slug":"header","theme":"millipede","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"left":"0","right":"0"}}},"layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group" style="padding-right: 0; padding-left: 0">
  <!-- wp:pattern {"slug":"millipede/hero-section"} /-->
  <!-- wp:pattern {"slug":"millipede/service-section"} /-->
  <!-- wp:pattern {"slug":"millipede/about-section"} /-->
  <!-- wp:pattern {"slug":"millipede/about-section-2"} /-->
  <!-- wp:pattern {"slug":"millipede/latest-works"} /-->
  <!-- wp:pattern {"slug":"millipede/our-team"} /-->
  <!-- wp:pattern {"slug":"millipede/testimonial-section"} /-->
  <!-- wp:pattern {"slug":"millipede/latest-blogs"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"millipede","area":"footer"} /-->
